# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter / Colab
.ipynb_checkpoints/

# Environment files
.venv/
env/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Data files that may be too large
*.csv
*.xlsx
*.pbix